/*Import poppins Font From Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*For All Elemet*/
* {
    font-family: 'poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    background-color: #fffae5d3 ;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo {
    text-decoration: none;
    color: #31C0B5;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
    transition: 0.6s ease;
}

.logo:hover{
    transform: scale(1.5);
    color: #ffa600;
}
/*navigation*/
.navigation a {
    color: #31C0B5;
    text-decoration: none;
    font-size: 1.9em;
    font-weight:500;
    padding-left: 30px;
}

/* .navigation a:hover {
    color: #FFC300 ;
} */
/*nav animation*/
.serv {
    transition: 0.6s ease;
}

.serv:hover {
    transform: scale(1.1);
    color: #FFC300 ;
}

.proj {
    transition: 0.6s ease;
    color: #FFC300 ;
}

.proj:hover {
    transform: scale(1.1);
    color: #FFC300 ;
}

.cont {
    transition: 0.6s ease;
    color: #FFC300 ;
}

.cont:hover {
    transform: scale(1.1);
    color: #FFC300 ;
}
/*End Animation*/
section {
    padding: 100px 200px;
}
.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(images/Background.jpg);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}

.main h2 {
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;

}

.main h2 span {
    color: #31C0B5 ;
    font-size: 3em;
    font-weight: 600;
    display: inline-block;
    margin-top: 10px;
}

.main h3 {
    color: #fff ;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn {
    text-decoration: none;
    color: #fff;
    background-color:#31C0B5  ;
    font-size: 1.1em;
    font-weight: 600;
    display:inline-block ;
    padding: 0.9375em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 1s ease;
}

.main-btn:hover {
    background-color:#3AAAA2  ;
    transform: scale(1.1);
}

.Social-Icons a {
    color: #fff;
    font-size:1.5em;
    padding-right: 30px;
    transition: 1s ease;
    border-radius: 10px;
}

/* .Social-Icons a:hover {
    color: #31C0B5;
    
} */

/*Icon Animation*/
.git{
    transition: 1s ease;
}

.git:hover {
    transform: scale(1.7);
    color: rgb(95, 95, 95);
    box-shadow: 0 5px 30px rgba(1 1 1 / 50%);
    border-radius: 10px;
}

.yout{
    transition: 1s ease;
}

.yout:hover {
    transform: scale(1.7);
    color: red;
}

.inst{
    transition: 1s ease;
}

.inst:hover {
    transform: scale(1.7);
    color: rgb(225, 0, 255);
}

.face{
    transition: 1s ease;
}

.face:hover {
    transform: scale(1.7);
    color: rgb(0, 162, 255);
}
/*End Animation*/
/*Carts*/

.title {
    display: flex;
    justify-content: center;
    color: #3AAAA2;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap:wrap ;
    
}

.card {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 30px rgba(1 1 1 / 50%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 1s ease;
}

.card:hover {
    transform: scale(1.1);
    
}

.icon {
    color: #3AAAA2;
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;
}
.info h3 {
    color: #3AAAA2;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.card:hover .icon {
    color: #FFC300;

}
.card:hover .info h3 {
    color:#FFC300 ;
}

/*contact*/

.contact .icon {
    font-size:4.5em ;
}

.contact .info h3 {
    color: black;
}

.contact .info p {
    font-size: 1.2em;
}

.footer {
    background-color: #000016;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span {
    color:#FFC300 ;
}

/*Media Qwiris*/

@media (max-width:1024px) {

    body{
        font-size: 16px;
        padding: 0px 0px;
    }
    header{
        padding: 12px 20px;
    }
    .navigation {
        padding-left: 1px;
        font-size: small;
    }

    .title {
        font-size: 1.8em;
    }

    section {
        padding: 80px 20px;
    }

    .main-content h2 {
        font-size: 1em;
    }

    .main-content h3 {
        font-size: 1.6em;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }
    
    .navigation a {
        font-size: 1.0em;
    }

    .footer {
        padding-right: 1px;
    }

    .logo:hover{
        transform: scale(1.2);
        color: #ffa600;   
    }
    .card {
        
        align-items: center;
        flex-wrap: wrap;
    }
    body {
        padding: 0 0 ;
    }

}

@media (max-width:641px) {
    body{
        font-size: 12px;
        padding: 0px 0px;
    }

    .main-content h2 {
        font-size: 0.8em;
    }

    .main-content h3 {
        font-size:1.4em;
    }

    .card {
        
        align-items: center;
        flex-wrap: wrap;
    }

    .logo:hover{
        transform: scale(1.1);
        color: #ff8000;   
    }
}

@media (max-width:375px) {
    body {
        font-size: 10px;
        padding: 0px 0px;
    }

    .card {
        
        align-items: center;
        flex-wrap: wrap;
    }
    
    .logo:hover{
        transform: scale(1.1);
        color: #ffa600;   
    }

    .navigation a {
        font-size: 0.7em;
    }
}

@media (max-width: 1140px){
body {
    padding: 0px -2px 0px 15px;
}

    .content {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: inherit;
        margin-left: -133px;
        margin-right: -140px;
    }
}

@media (max-width:1019px){
    body{
        
        padding: 0px 0px ;
    }
    .content {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -17px;
    }
}

@media (max-width:765) {
    
    .content {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -17px;
    }
}

@media (max-width: 1024px){
section {
    padding: 74px 146px;
}
}

@media (max-width: 1019px){
body {
    padding: 0px 0px;
}
}

@media (max-width: 1024px){
section {
    padding: 74px 41px;
}
}